name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install backend deps
        run: |
          npm ci
      - name: Install client deps & build
        working-directory: client
        run: |
          npm ci
          npm run build
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: client-build
          path: client/build
